* {
  font-family: helvetica;
}

body {
  line-height: 1.5;
  font-size: 100%;

}

article {
  border-bottom: 1px solid black;
  margin: 0 3%;
}


.template {
  display: none;
}

a:visited {
  color: white;
}

#articles h1 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 40px;
}


.article-body {
  border-bottom: 1px solid black;
  padding-bottom: 25px;
  text-align: justify;
}
/*====================================== */
p {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(60,60,60);
}

a:hover {
  color: rgb(210,148,34);
}

img {
  max-width: 100%;
}

button {
  display: block;
}
