main {
  width: 960px;
  margin: 30px auto 30px auto;
}


.main-header {
  background-image: url('http://ap.imagensbrasil.org/images/site-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em;
  border-top: solid 1em #FF9933;
  color: white;

}

header h1 {
  text-align: center;
  font-size: 40px;
}
header h3 {
  margin-top : 10px;
  text-align: center;
  font-size: 25px;
}
footer{
  float: center;
  height:50px;
  font-family: 'Rancho', cursive;
  font-style:italic;
  color:#fff;
  text-align:center;
  background-color:#000;
  padding-top:10px;
  size:12px;
  word-spacing: .3em;
}
